---
layout: main
permalink: /categories/
title: Articles by category
---


<div id="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <i class="fas fa-folder-open" word-wrap: break-word;> &nbsp;</i> 
  
      <div class= "blocker" word-wrap: break-word;>
        <h2 class="category-head">{{ category_name }} &nbsp;</h2>
      </div>


    <hr class="tight">

    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
      {{ post.date | date: "%b %-d, %Y" }}

      {% if post %}
        {% assign tags = post.tags %}
      {% else %}
        {% assign tags = page.tags %}
      {% endif %}
    
    <i class="fas fa-tags" margin-left="1%"></i> 
      {% for tag in tags %}
      <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}

    </article>
    {% endfor %}
    <hr class="tight">
  </div>
{% endfor %}
</div>