---
layout: main
---


    <!-- One -->
    {{ content }}

        <section id="two">

            <h1>Recent Work</h2>
            <div class="row">
                <article>
                    
                    <p>Recent projects are described
                    <a href="https://solomson.github.io/online-cv/#projects"> here </a>
                        (separate website)
                    </p>
                </article>
            </div>
        </section>


<section id="three">
    <br>
    <h1>Contact me</h1>
    <p>Feel free to reach out if you wish to connect.</p>
    <div class="row">
        <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                    Trondheim,
                    Norway
                </li>
                <li>
                    <h3 class="icon brands fa-linkedin"><span class="label">Phone</span></h3>
                    <a href="//www.linkedin.com/in/audun-solemdal/"><span class="label">Audun Solemdal</span></a>
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    <a href="#">audunlsolemdal@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>

</div>