---
layout: main
---


    <!-- One -->
    {{ content }}

        <section id="two">
            <h1>My Work</h1>
            <ul class="actions">
                <li><a href="/cv" class="button">Full CV & Portfolio</a></li>
            </ul>

            <h2>Recent Work</h2>
            <div class="row">
                <article>
                    <a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
                    <h2>Equinor - SDP Tools</h2>
                    <p>Maintaining apps on Linux servers and migrating workloads to Azure and AKS. Source code for our Kubernetes GitOps-workflow can be can be found
                    <a href="//github.com/equinor/sdp-aks"> here </a> and <a href="//github.com/equinor/sdp-flux"> here</a>.</p>
                </article>
                <article>
                    <a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
                    <h2>Equinor - iPlant</h2>
                    <p>Maintaining different instances of an app running on different Windows servers. Also co-responsible for developing new features in .NET. </p>
                </article>
                <article>
                    <a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
                    <h2>Equinor - CES to Omnia</h2>
                    <p>Advisory on migrating a container based application from Amazon to Azure.</p>
                </article>
            </div>
        </section>


<section id="three">
    <br>
    <h1>Contact me</h1>
    <p>Feel free to reach out if you wish to connect.</p>
    <div class="row">
        <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                    Trondheim,
                    Norway
                </li>
                <li>
                    <h3 class="icon brands fa-linkedin"><span class="label">Phone</span></h3>
                    <a href="//www.linkedin.com/in/audun-solemdal/"><span class="label">Audun Solemdal</span></a>
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    <a href="#">audunlsolemdal@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>

</div>